<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44344D0F1CFB59E300F9146C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44344D231CFB59E300F9146C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44344D2E1CFB59E300F9146C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
